<table class="table table-striped custom">
    <thead class="thead-dark">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>CEO</th>
        <th>Listed in</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let company of companies">
        <th>{{ company.id }}</th>
        <th>{{ company.companyname }}</th>
        <th>{{ company.ceo}}</th>
        <th>{{ company.stockExchangeIds }}</th>
        <th><button class="btn btn-primary"> View </button></th>
        <th><button class="btn btn-primary"> Update </button></th>
        <th><button class="btn btn-primary"> Delete </button></th>
    </tr>
    </tbody>
</table>


<div class="container">
    <div class="center">
        <button class="btn btn-info" style="text-align: center;">Add Company</button>
    </div>
</div>



