<br>
<div class="container">
    <h1>Admin Dashboard</h1>
</div>
<br>

<div class="container">  
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    <button type="button" class="btn btn-primary">Company</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary">IPO</button>
                </th>
                <th>
                    <button type="button" class="btn btn-primary">StockExchange</button>
                </th>
            </tr>
        </thead>
    </table>
    
</div>

